APP_ENV=local
APP_DEBUG=true

## Название проекта.
## Используется для composer.json и модуля engine.
PROJECT_NAME=vendor/bitrix-boilerplate

## Удаленный сервер. Нужно только для `dl deploy`.
CATALOG_SRV=/var/www/html
USER_SRV=user
PORT_SRV=22
SERVER=127.0.0.1

## Локальный проект в DL.
HOST_NAME=bitrix-boilerplate
DOCUMENT_ROOT=/var/www/html/public

## Доступны версии PHP от 7.3-apache до 8.4-fpm
PHP_VERSION=8.4-fpm
PHP_MEMORY_LIMIT=512M
PHP_POST_MAX_SIZE=100M
PHP_UPLOAD_MAX_FILESIZE=100M
PHP_MAX_FILE_UPLOADS=50
PHP_MAX_EXECUTION_TIME=120
PHP_MODULES="opcache redis memcached"
XDEBUG=off
XDEBUG_IDE_KEY=PHPSTORM
XDEBUG_PORT=9003

## Доступны версии MySQL: 5.7 8.0 9.0.
## По умолчанию используем MySQL 8.4 LTS
MYSQL_VERSION=8.4
MYSQL_DATABASE=db
MYSQL_USER=db
MYSQL_PASSWORD=db
MYSQL_ROOT_PASSWORD=root

## PostgreSQL в DL задается тегом официального образа postgres.
## Не включайте одновременно MYSQL_VERSION и POSTGRES_VERSION, если проекту нужна только одна база.
# POSTGRES_VERSION=18
# POSTGRES_DB=db
# POSTGRES_USER=db
# POSTGRES_PASSWORD=db

## MariaDB в DL задается тегом официального образа mariadb.
# MARIADB_VERSION=lts

## Redis и Memcached.
# REDIS=true
# REDIS_PASSWORD=pass
# MEMCACHED=true

## Настройки Битрикс
## CACHE: redis, memcache, files, none
## SESSION: redis, memcache, database, file
## CONNECTIONS: mysql, mariadb, pgsql, redis, memcache
## Если CONNECTIONS не указан, будет создано только соединение с базой из .env.
# CACHE=redis
# SESSION=database
# CONNECTIONS=[mysql,redis]

## Прочее окружение.
LOCALTIME=Europe/Moscow
# PHP_INI_SOURCE=.docker/php/php.ini
# NGINX_CONF=.docker/nginx/default.conf.template
# APPEND_COMPOSE_FILE=.docker/docker-compose-dl.yaml

## Настройки `dl deploy`.
EXCLUDED_TABLES=b_event_log,b_search_content_stem,b_search_content,b_search_content_text,b_search_content_title,b_search_phrase,b_search_suggest,b_perf_error
EXCLUDED_FILES=.git,upload,bitrix/backup,bitrix/cache,bitrix/managed_cache,bitrix/stack_cache,bitrix/tmp,.env
